<footer class="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <small>
            <font color="#FFF">
	            Tecnicatura Universitaria en Desarrollo de Software - Tecnicas de Programacion<br>
	            Grupo: Enciso Villalba, Daniel - Lescano, Fernando Ezequiel - Ziegler, Pablo<br>
	            Sistema de Gestion para la universidad provincial de Ezeiza
            </font>
            </small>
          </div>
        </div>
      </div>
    </footer>