doctype html
html
  head
    title= title + " | " + nombre
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
    block header
  body
    .container
        .navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href='/')= nombre
        block content