<input type="text" class="form-control" placeholder="Filtro" ng-model="filtro">
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
             <th>Nombre</th>
            <th>Horario</th>
            <th>Habilidades requeridas</th>
            <th>Accciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bsq in listaBusquedasState|filter:filtro">
               <td>{{bsq.nombre}}</td>
               <td>{{bsq.horario}}</td>
               <td>
               <span ng-repeat="habilidad in bsq.habilidades">{{habilidad.nombre}} </span></td>
               <td><a class="btn btn-default" href="/#/detalleBusqueda/{{bsq._id}}" >Ver detalle</a></td>
               <td><button type="button" class="btn btn-default" ng-click="openModal('lg',bsq)">Posibles</button></td>
            </tr>

        </tbody>
    </table>
</div>
