<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel-heading">
            <h3 class="panel-title">Alta de una busqueda laboral</h3>
    </div>
    <div class="panel-body">
        <form action="" ng-submit="guardar()" method="POST" class="form-horizontal" role="form">
            <div class="form-group col-sm-5 col-md-5 col-lg-5">
                <legend>Datos de la busqueda</legend>
                    <label for="nombre">Nombre de la busqueda</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre de la busqueda" ng-model="bsq.nombre"required>
                    <label for="cantidad de puestos">Cantidad de puestos</label>
                    <input type="cantidad de puestos" class="form-control" id="cantidad de puestos" placeholder="cantidad de puestos" ng-model="bsq.cantidad_empleados" required>
                    <input type="text" name="tags" placeholder"Tags" class="tm-input"/>

                    
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!-- Es trampa para separar los divs -->
            </div>
            <div class="form-group col-sm-5 col-md-5 col-lg-5">
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Generar Usuario</button>
                </div>
            </div>
        </form>
    </div>
</div>