<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h3 id="h3SearchFormTitle">Datos de la Busqueda de Personal </h3>

<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="panel-body">
                <div class="row">
                    <form action="" method="POST" class="form-horizontal" role="form">

                      

                        

                        <div class="col-md-3" >
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input class="form-control" type="text" id="nombre" ng-model="busqueda.nombre" placeholder="Puesto Solicitado" required pattern="[a-zA-Z]+" >
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-offset-1 ">
                            <div class="form-group">
                                <label for="Entrevistador">Entrevistador:</label>
                                <input class="form-control" type="text" id="Entrevistador" ng-model="busqueda.entrevistadores" placeholder="Entrevistador" >

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-offset-1">
                            <div class="form-group">
                                <label for="cantidad_puestos">Cantidad Puestos a Cubrir:</label>
                                <input class="form-control" type="text" id="cantidad_puestos" ng-model="busqueda.cantidad_empleados"  >
                            </div>
                        </div>

                      
                        <div class="col-md-3">

                            <div class="form-group">
                                <label for="remuneracion">Remuneracion pretendida:</label>
                                <input class="form-control" type="text" id="remuneracion" ng-model="busqueda.remuneracion" placeholder="$4000"  >
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-offset-1">
                            <div class="form-group">
                                <label for="lugar_de_trabajo">Lugar de Trabajo:</label>
                                <input class="form-control" type="text" id="lugar_de_trabajo" placeholder="Oficina,Cliente,Etc" ng-model="busqueda.lugar_trabajo"  >
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-offset-1">
                            <div class="form-group">
                                <label for="horario">Disponibilidad:</label>
                                <select class="form-control" id="horario" ng-model="busqueda.horario">
                                    <option value="">-</option>
                                        <option id="Full-Time" selected>Full-Time</option>
                                        <option id="Part-Time">Part-Time</option>
                                        <option id="Pasantia">Pasantia</option>
                                        <option id="Work-Home">Work-Home</option>
                                </select>
                            </div>
                     </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="fecha_inicio">Fecha de inicio de la busqueda:</label>
                                <input class="form-control" type="date" name="input" id="fecha_inicio" placeholder="dd/mm/yyyy" ng-model="busqueda.fecha_inicio" min="01-01-2015" max="31-12-2020"  >
                            </div>
                       
                        </div>
                        
                         <div class="col-md-3 col-sm-offset-1">
                            <div class="form-group">
                                <label for="texto_twitter">Link a Twitter:</label>
                                <textarea class="form-control" id="texto_twitter" ng-model="busqueda.texto_twitter"  ></textarea>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-offset-1">
                            <div class="form-group">
                                <label for="comentario">Comentario:</label>
                                <textarea class="form-control" id="comentario" ng-model="busqueda.otros_comentarios"  ></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-10 ">
                            <legend>Habilidades</legend>
                            
                            <tags-input ng-model="busqueda.habilidades">
                            <auto-complete source="loadTags($query)"></auto-complete>
                             </tags-input>
                         </div>
                         </div>
                        </div>
                        
                        </div>

                    <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="guardar()">Crear Busqueda</button>      
                            </div>
                        </div></form></div></div>