<!--{{busqueda}} -->
<input type="text" class="form-control" placeholder="Filtro" ng-model="filtro">
<div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">Detalle de la busqueda {{busqueda.nombre}}</h3>
      </div>
      <div class="panel-body">
           <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                     <th>Postulante</th>
                     <th>Habilidades del postulante</th>
                     <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <tr ng-repeat="postulante in busqueda.postulantes|filter:filtro">
                       <td>{{postulante.nombre}}</td>
                       <td>
                       <span ng-repeat="habilidad in postulante.habilidades">{{habilidad.nombre}} </span>
                       </td>
                       <td>
                       <span><td><a class="btn btn-default" href="/#/generarentrevista/{{busqueda._id}}/{{postulante._id}}" >Generar entrevista </a></span><button class="btn btn-default" ng-click="openModal('lg',postulante)">Contactar</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
      </div>
</div>
