<script type="text/javascript" language="javascript" src="js/extra/collapse.js"></script>

<div class="form-base1">
  <div class="row-fluid">
    <h3>Editar texto</h3>
  </div>

              <form>
              <textarea ng-model="txt.texto">

              </textarea>
              <button type="submit"   ng-click="guardar()" class="btn btn-small btn-primary">Guardar</button>
              <button type="submit"   ng-click="volver()" class="btn btn-small">Volver</button>
              </form>


      </div>
    </div>
  </div>
</div>