<div class="panel panel-danger" ng-controller="entrevistasUsuarioSinFeedbackCTRL">
      <div class="panel-heading">
            <h3 class="panel-title">Feedbacks que debe</h3>
      </div>
      <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Busqueda</th>
                            <th>Postulante</th>
                            <th>Fecha y hora</th>
                            <th>Feedback</th>
                            <!-- Deberiamos sacar la descripcion y todo lo demas del coso del cosito (Lease google calendar :p) -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entrevista in entrevistas">
                            <td>{{entrevista.busqueda.nombre}}</td>
                            <td>{{entrevista.postulante.nombre}}</td>
                            <td>{{entrevista.fecha|date:'dd/MM hh:mm'}}</td>
                            <td><button type="button" class="btn btn-success" ng-click="openModalEntrevista(entrevista)"><span class="glyphicon glyphicon-plus"></span> Feedback</td>
                        </tr>
                    </tbody>
                </table>
            </div>
      </div>
</div>