<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel-heading">
            <h3 class="panel-title">Envios de Mail</h3>
    </div>
    <div class="panel-body">
        <form anction=""  method="post" class="form-horizontal" role="form">
            <div class="form-group col-sm-5 col-md-5 col-lg-5">
                    <label for="mail.to">Para:</label>
                    <input type="email" class="form-control"  placeholder="aaaaa@aaaa.com.." required ng-model="mail.to">
                    <label>Asunto:</label>
                    <input type="text" class="form-control"  placeholder="Asunto..."  required ng-model="mail.subject">
                    <label>Texto</label>
                    <textarea class="form-control" cols="40" rows="5" placeholder="Write what you want to send" required ng-model="mail.content"></textarea>

            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" ng-click="enviar()" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>