<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
		 <p ng-repeat="hab in listaHabilidades">
                {{hab}}
            </tr>
        </thead>
        <tbody>
            
                <td><a href="/#/habilidad/{{hab._id}}" class="btn btn-default">Editar</a>
         
        </tbody>
    </table>
</div>


<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel-heading">
            <h3 class="panel-title">Alta de habilidad</h3>
    </div>
    <div class="panel-body">
        <form action="" ng-submit="guardar()" method="POST" class="form-horizontal" role="form">
            <div class="form-group col-sm-5 col-md-5 col-lg-5">
                <legend>Habilidad</legend>
                    <label for="habilidad">Habilidad</label>
                    <input type="text" class="form-control" id="habilidad" placeholder="Nombre de la Habilidad" ng-model="habilidad" required>
                    
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!-- Es trampa para separar los divs -->
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Generar habilidad</button>
                </div>
