<div class="table-responsive">
    <tbody>
            <h3> Nuevas Habilidades</h3>
        </tbody>
</div>


<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel-body">
        <form action="" ng-submit="guardar()" method="POST" class="form-horizontal" role="form">
            <div class="form-group col-sm-10 col-md-10 col-lg-3">
                <div class="tags" ng-class="{focused: hasFocus}">
                <ul class="tag-list">
                    <label for="habilidad">Habilidad</label>
                <li class="tag-item" ng-repeat="hab in listaHabilidades.nombre" ng-class="{selected: tag == tagList.selected}">
                   <span ng-bind="getDisplayText(tag)"></span>
                    <a class="remove-button" ng-click"tagList.remove($index)" ng-bind="options.removeTagSymbol"></a>
                </li>
            </ul>
                <input type="text" class="input" ng-model="newTag.text" ng-change="newTagChange()" ng-trim="false"
               ng-class="{'invalid-tag': newTag.invalid}" ti-bind-attrs="{type: options.type, placeholder: options.placeholder, tabindex: options.tabindex}" ti-autosize>

           </div>
                    <!--
           -->


            <div class="row">

                <div class="col-md-10 col-md-offset-0">
                    <button type="submit" class="btn btn-primary">Generar habilidad</button>
                </div>
 </div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Habilidad</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="hab in listaHabilidades">

                <td>{{hab._id}}</td>
                <td>{{hab.nombre}}
               <td>  <a href="/#/habilidad" type="button" class="btn btn-default btn-sm" ng-click="eliminar(hab._id)">Eliminar</a></td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
