<div class="panel panel-info" ng-controller="entrevistasUsuarioCTRL">
      <div class="panel-heading">
            <h3 class="panel-title">Entrevistas futuras</h3>
      </div>
      <div class="panel-body">
        <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ferticidio@gmail.com&amp;ctz=America%2FArgentina%2FBuenos_Aires" style=" border-width:0 " frameborder="0" scrolling="no"></iframe>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Busqueda</th>
                            <th>Postulante</th>
                            <!-- Deberiamos sacar la descripcion y todo lo demas del coso del cosito (Lease google calendar :p) -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entrevista in entrevistas">
                            <td>{{entrevista.busqueda.nombre}}</td>
                            <td>{{entrevista.postulante.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
      </div>
</div>