<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Entrevista para la busqueda {{entrevista.busqueda.nombre}}</h3>
    </div>
    <div class="panel-body">
        <h4>Datos del solicitante</h4>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
           <div class="media">
               <p class="pull-left col-xs-5 col-sm-5 col-md-5 col-lg-5">
                       <img class="img-responsive" src="/uploads/fotos/{{entrevista.postulante._id}}" alt="Foto del postulante" ng-if="entrevista.postulante.fotoUrl">
                   <a href="{{postulant.curriculumURL}}" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        Ver Curriculim
                    </a>
                </p>
               <div class="media-body col-xs-6 col-sm-6 col-md-6 col-lg-6">
                   <h4 class="media-heading">{{entrevista.postulante.nombre}} {{entrevista.postulante.apellido}}</h4>
                   <p><strong>Habilidades</strong> <span ng-repeat="habilidad in entrevista.postulante.habilidades">{{habilidad}} </span></p><!-- Falta que traiga el nombre de la habilidad -->
                   <h4>Comentarios</h4>
                   <p>{{entrevista.postulante.comentario}}</p>
               </div>
           </div>
        </div>
        <div class="list-group col-xs-5 col-sm-5 col-md-5 col-lg-5">
               <h4 class="list-group-item-heading">Otros datos</h4>
               <p class="list-group-item-text">
                    <ul>
                        <li>Nacionalidad: {{entrevista.postulante.nacionalidad}}</li>
                        <li>Email: {{entrevista.postulante.email}}</li>
                        <li>Sexo: {{entrevista.postulante.sexo}}</li>
                        <li>Telefono: {{entrevista.postulante.telefono}}</li>
                        <li>DNI: {{entrevista.postulante.dni}}</li>
                        <li>Disponibilidad: {{postulante.disponibilidad}}</li>
                    </ul>
               </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="" method="POST" class="form" role="form">
                <div class="form-group">
                   <legend>Dejar Feedback</legend>
                    <div class="form-group">
                        <div id="radio" name="radio" class="radio col-xs-2 col-sm-2 col-md-2 col-lg-2">
                           <label class="label label-success">
                               <input type="radio" name="semaforo" ng-model="entrevista.semaforo" ng-value="3" id="input">
                           </label><br>
                           <label class="label label-warning">
                               <input type="radio" name="semaforo" ng-model="entrevista.semaforo" ng-value="2" id="input" value="2">
                           </label><br>
                           <label class="label label-danger">
                               <input type="radio" name="semaforo" id="input" ng-model="entrevista.semaforo" ng-value="1" value="1">
                           </label><br>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <textarea ng-model="entrevista.comentario" cols="20" rows="3" placeholder="Comentario sobe el postulante"></textarea>
                        </div><br><br><br><br><!-- Muy feo pero funciona -->
                       <button type="submit" class="btn btn-primary" ng-disabled="!entrevista.semaforo||!entrevista.comentario" ng-click="guardar()">Guardar Feedback</button>
                </div>
            </form>
        </div>

    <div class="panel-footer">
        <button class="btn btn-success" ng-click="ok()">Salir</button>
    </div>
</div>


