<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Coincidencias de postulantes para la busqueda {{busqueda.nombre}}</h3>
    </div>
    <div class="panel-body">
    <p><strong>Habilidades requeridas:</strong> <span ng-repeat="habilidad in busqueda.habilidades">{{habilidad.nombre}} </span></p>
        <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Habilidades</th>
                <th>Habilidades Coincidentes</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="posible in postulantes">
                <td>{{posible.postulante.nombre}}</td>
                <td><span ng-repeat="habilidad in posible.postulante.habilidades">{{habilidad.nombre}} </span></td>
                <td><span ng-repeat="coincidencia in posible.coincidencias">{{coincidencia.nombre}} </span></td>
                <td>

                        <input type="checkbox" name="postulante[]" value="{{posible.postulante}}" ng-checked="selection.indexOf(posible.postulante) > -1" ng-click="toggleSelection(posible.postulante)">
                </div></td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" ng-click="guardar(selection)">Guardar</button><br><br>
    </div>
    <div class="panel-footer">
        <button class="btn btn-success" ng-click="ok()" title="No se olvie de guardar la seleccion">Cerrar</button>
    </div>
</div>