<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Datos de {{ postulante.nombre }} {{postulante.apellido}}</h2>
            <hr>
                <div class="row">
                    <form method="post" role="form" name="frmPostulante" ng-submit="guardar()">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input class="form-control" type="text" id="nombre" ng-model="postulante.nombre" required >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="apellidoP">Apellido:</label>
                                <input class="form-control" type="text" id="apellido" ng-model="postulante.apellido" placeholder="Ingrese el apellido..." required >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="dni">DNI:</label>
                                <input class="form-control" type="text" id="dni" ng-model="postulante.dni" placeholder="Ingrese DNI" required >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="estado_civil">Estado Civil:</label>
                                <select class="form-control" id="estado_civil" ng-model="postulante.estado_civil">
                                    <option value="">-</option>
                                        <option id="viudo_a">Viudo</option>
                                        <option id="union_libre" >Unión Libre</option>
                                        <option id="casado_a" >Casado /a</option>
                                        <option id="soltero_a" selected >Soltero /a</option>
                                        <option id="divorciado_a" >Divorciado /a</option>
                                        <option id="pareja_de_hecho" >Pareja de Hecho</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" >
                                <label for="nombre">Nacionalidad:</label>
                              <select class="form-control" id="nacionalidad" ng-model="postulante.nacionalidad">
                                    <option >Argentina</option>
                                    <option selected>Bolivia</option>
                                    <option >Chile</option>
                                    <option>Colombia</option>
                                    <option >Costa Rica</option>
                                    <option>Ecuador</option>
                                    <option >Mexico</option>
                                    <option >Panama</option>
                                    <option >Peru</option>
                                    <option >Republica Dominicana</option>
                                    <option >Uruguay</option>
                                    <option >Venezuela</option>
                                    <optgroup label="---------------------"></optgroup>
                                    <option >Alemania</option>
                                    <option >Australia</option>
                                    <option >Austria</option>
                                    <option>Brasil</option>
                                    <option >Bulgaria</option>
                                    <option >Bélgica</option>
                                    <option >Canada</option>
                                    <option >China</option>
                                    <option >Corea</option>
                                    <option >Croacia</option>
                                    <option >Cuba</option>
                                    <option >Dinamarca</option>
                                    <option >El Salvador</option>
                                    <option >Emiratos Arabes</option>
                                    <option >Escocia</option>
                                    <option >Eslovaquia</option>
                                    <option >Eslovenia</option>
                                    <option >Espana</option>
                                    <option >Estados Unidos</option>
                                    <option >Estonia</option>
                                    <option >Finlandia</option>
                                    <option >Francia</option>
                                    <option >Grecia</option>
                                    <option >Guatemala</option>
                                    <option >Haiti</option>
                                    <option >Holanda</option>
                                    <option >Honduras</option>
                                    <option >Hungria</option>
                                    <option >India</option>
                                    <option >Inglaterra</option>
                                    <option >Internacional</option>
                                    <option >Irak</option>
                                    <option >Irlanda</option>
                                    <option >Israel</option>
                                    <option >Italia</option>
                                    <option >Japon</option>
                                    <option >Letonia</option>
                                    <option >Lituania</option>
                                    <option >Malasia</option>
                                    <option >Nicaragua</option>
                                    <option >Noruega</option>
                                    <option >Nueva Zelanda</option>
                                    <option >Paraguay</option>
                                    <option >Polonia</option>
                                    <option >Portugal</option>
                                    <option >Puerto Rico</option>
                                    <option >Republica Checa</option>
                                    <option >República de Malta</option>
                                    <option >Rumania</option>
                                    <option >Rusia</option>
                                    <option >Singapur</option>
                                    <option >Suecia</option>
                                    <option >Suiza</option>
                               </select>
                            </div>
                        </div>
                       <div class="col-md-3">
                            <div class="form-group" >
                                <label for="edad">Sexo:</label>
                                <input class="form-control" type="text" id="sexo" ng-model="postulante.sexo" required >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" >
                                <label for="edad">Edad:</label>
                                <input class="form-control" type="text" id="edad" ng-model="postulante.edad" required >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="edad">Telefono:</label>
                                <input class="form-control" type="text" id="telefono" ng-model="postulante.telefono" placeholder="Ingrese telefono..." required >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="disponibilidad">Disponibilidad:</label>
                                <input class="form-control" type="tel" id="disponibilidad" ng-model="postulante.disponibilidad" placeholder="Ingrese telefono..." required >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input class="form-control" type="email" id="email" ng-model="postulante.email" placeholder="Ingrese Email..." required >
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="form-group">
                                <label for="habilidad">Habilidades:</label>
                                <tags-input ng-model="postulante.habilidades" id="habilidad">
                                <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="comentario">Comentario:</label>
                                <textarea class="form-control" id="comentario" ng-model="postulante.comentario" required ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                    <div class="col-sm-10">
                        <button ng-click="volver()" class="btn btn-warning">Volver</button><span>  </span><button type="submit" class="btn btn-primary">Guardar</button><span>  </span>
                    </div>
                    </div>
               
                    </form>
                    
                </div>
            
        </div>
