<div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel-heading">
            <h3 class="panel-title">Editar usuario {{usuario}}</h3>
    </div>
    <div class="panel-body">
        <form action="" ng-submit="guardar()" method="POST" class="form-horizontal" role="form">
            <div class="form-group col-sm-5 col-md-5 col-lg-5">
                <legend>Datos del usuario</legend>
                    <input type="hidden" name="_id" id="_id" class="form-control" value="{{usuario._id}}" ng-model="usuario._id">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" placeholder="Nombre de Usuario" ng-model="usuario.username" required>
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" placeholder="em@il" ng-model="usuario.email" required>

            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!-- Es trampa para separar los divs -->
            </div>
            <div class="form-group col-sm-5 col-md-5 col-lg-5">
                    <legend>Rol</legend>
                    <label for="roles">Roles</label><br />
                    <select  size="5" id="roles" multiple ng-multiple="true" ng-model="usuario.roles" ng-options="r.nombre for r in listaRoles" required class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></select>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Generar Usuario</button>
                </div>
            </div>
        </form>
    </div>
</div>